td th {
    text-align: center;
}
td{
    color: #000000;
}

th {
    font-size: 14px;
    color: white;
    /* background-color: rgba(150, 212, 212, 0.4); */
    /* background-color: #4D85BD; */
    /* background-color:  #333333; */
    background-color: grey;

}

table {
    border: 1.5px solid grey;
}

tr:nth-child(even) {
    /* background-color: rgba(150, 212, 212, 0.4); */
    /* background-color: #4D85BD; */
    /* background-color: #808080; */
}
 

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablecenter {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* body{
    position: relative;
    top: 80px;
    height: 0;
} */




.filterbox{
    /* background-color: rgba(150, 212, 212, 0.4); */
    /* background-color: ghostwhite;     */
    border: 1.5px solid grey;
}

